<style>
 .thalign thead tr th{vertical-align: middle; }
 .thalign tbody tr td{vertical-align: middle; }
 
.modal-lg{
	    max-width: 80%;
}
.modal-header{background-color: darkcyan;color: white;}
		
.modal_fixed_header_column table {position: relative;overflow: hidden;border-collapse: collapse;table-layout:fixed;}
.modal_fixed_header_column thead {position: relative;display: block;overflow: visible; background: #00bf8f;
		    background: -webkit-linear-gradient(to right, #001510, #00bf8f);background: linear-gradient(to right, #001510, #00bf8f);}
.modal_fixed_header_column tbody {position: relative; display: block;height: 500px;overflow: scroll;font-size: 14px;font-weight:normal;}
.modal_fixed_header_column thead th {min-width: 100px;width: 100px;color:white;border-color: #00bf8f !important;text-align: center;
										font-size: 14px;height: 35px;word-wrap:break-word;}
.modal_fixed_header_column tbody td {min-width: 100px;width: 100px;color: #353535;word-break: break-all;height: 35px;
										word-wrap:break-word;font-weight: normal;}
.modal_fixed_header_column th,.modal_fixed_header_column td {border: 1px solid #00bf8f;}
.modal_fixed_header_column thead tr th:nth-child(1){ min-width: 90px; width : 90px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(1){ min-width: 90px; width : 90px;word-wrap:break-word;}
.modal_fixed_header_column thead tr th:nth-child(2){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(2){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column thead tr th:nth-child(3){ min-width: 200px; width : 200px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(3){ min-width: 200px; width : 200px;word-wrap:break-word;}
.modal_fixed_header_column thead tr th:nth-child(8){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(8){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column thead tr th:nth-child(9){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(9){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column thead tr th:nth-child(10){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(10){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column thead tr th:nth-child(11){ min-width: 150px; width : 150px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(11){ min-width: 150px; width : 150px;word-wrap:break-word;}
 
 .card-header {
	background-color: teal;
	color: white;
    font-style: italic;
    font-weight: 600;
}
 
</style>

<div class="container-fluid" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="card w-100">
    			<div class="card-body">
					<div class="row mt-3">
						<div class="col-md-4">
							<div class="card">
								<div class="card-header">Change Password</div>
								<div class="card-body">
									<div class="row mt-3">
										<div class="col-md-12">
											<label for="modalexistingpassword">Existing Password</label> <input
												class="form-control" type="password" ng-model="modal.existingpassword"
												autocomplete="off" ng-readonly="newuseridexists">
										</div>
									</div>
									<div class="row mt-3">	
										<div class="col-md-12">
											<label for="modalnewpassword">New Password</label> <input
												class="form-control" type="password" ng-model="modal.newpassword"
												autocomplete="off" ng-readonly="newuseridexists">
										</div>
									</div>	
									<div class="row mt-3">	
										<div class="col-md-12">
											<label for="modalconfirmpassword">Confirm Password</label> <input
												class="form-control" type="password" ng-model="modal.confirmpassword"
												autocomplete="off" ng-readonly="newuseridexists">
										</div>
									</div>
									<div class="row mt-3">	
										<div class="col-md-4">
											<button type="button" class="btn btn-md btn-success btn-block" ng-click="SaveRecord()">Save</button>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>

				</div>
    		</div>
    	</div>
    </div>			
 </div>   	
 
 
 <script>
 function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();

	        reader.onload = function (e) {
	            $('#uploadPreview')
	            .attr('src', e.target.result);
	        };

	        reader.readAsDataURL(input.files[0]);
	    }
	}
  </script>