<style>
 .thalign thead tr th{vertical-align: middle; }
 .thalign tbody tr td{vertical-align: middle; }
 
.modal-lg{
	    max-width: 80%;
}
.modal-header{background-color: darkcyan;color: white;}
		
.modal_fixed_header_column table {position: relative;overflow: hidden;border-collapse: collapse;table-layout:fixed;}
.modal_fixed_header_column thead {position: relative;display: block;overflow: visible; background: #00bf8f;
		    background: -webkit-linear-gradient(to right, #001510, #00bf8f);background: linear-gradient(to right, #001510, #00bf8f);}
.modal_fixed_header_column tbody {position: relative; display: block;height: 500px;overflow: scroll;font-size: 14px;font-weight:normal;}
.modal_fixed_header_column thead th {min-width: 180px;width: 180px;color:white;border-color: #00bf8f !important;text-align: center;
										font-size: 14px;height: 35px;word-wrap:break-word;}
.modal_fixed_header_column tbody td {min-width: 180px;width: 180px;color: #353535;word-break: break-all;height: 35px;
										word-wrap:break-word;font-weight: normal;}
.modal_fixed_header_column th,.modal_fixed_header_column td {border: 1px solid #00bf8f;}
.modal_fixed_header_column thead tr th:nth-child(1){min-width: 90px;width : 90px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(1){ min-width: 90px; width : 90px;word-wrap:break-word;}
.modal_fixed_header_column thead tr th:nth-child(2){min-width: 200px;width : 200px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr td:nth-child(2){ min-width: 200px; width : 200px;word-wrap:break-word;}
/* .modal_fixed_header_column thead tr:nth-child(2) th:nth-child(1){min-width: 150px;width : 150px;word-wrap:break-word;}
.modal_fixed_header_column thead tr:nth-child(2) th:nth-child(2){min-width: 100px;width : 100px;word-wrap:break-word;}
.modal_fixed_header_column thead tr:nth-child(2) th:nth-child(3) {min-width: 200px;width : 200px;word-wrap:break-word;}
.modal_fixed_header_column tbody tr:nth-child(1) td:nth-child(1){ min-width: 150px; width : 150px;text-align: left;word-wrap:break-word;padding-left: 5px;}
.modal_fixed_header_column tbody tr:nth-child(1) td:nth-child(2){ min-width: 100px; width : 100px;text-align: left;word-wrap:break-word;padding-left: 5px;}
.modal_fixed_header_column tbody tr:nth-child(1) td:nth-child(3) { min-width: 200px; width : 200px;text-align: left;word-wrap:break-word;padding-left: 5px;}
.modal_fixed_header_column tbody tr td:nth-child(1){text-align: left;}
.modal_fixed_header_column tbody tr:nth-child(1) td:nth-child(2){text-align: right;} */

 
</style>
<form name="usermanagementform">
<div class="container-fluid" style="margin-top: 20px;">
	<div class="row">
		<div class="col-md-12">
			<div class="card w-100">
    			<div class="card-body">
    			
    				<div class="row">
    					<div class="col-md-12">
    						<div class="row">
    							<div class="col-md-2">	
    								<h5 class="card-title">User Management</h5>
    								<hr/>
    							</div>
    						</div>
    						<div class="row">
    							<div class="col-md-2">
				    		 		 <label for="searchzonelist">Zone</label>
									    <select class="form-control" id="searchzonelist" 
									    ng-model="search.zone"
									    ng-options="u as u.value for u in searchzonelist" ng-change="getcircleList([],null,'search')" 
									    >
									      <option value="">------Select------</option>
									    </select>
				   		 		</div>
   		 		   		 		<div class="col-md-2" >
			    		 		 <label for="searchcirclelist">Circle</label>
								    <select class="form-control" id="searchcirclelist" 
								    ng-model="search.circle"
								    ng-options="u as u.value for u in searchcirclelist" ng-change="getdivisionList([],null,'search')" 
								    
								    >
								      <option value="">------Select------</option>
								    </select>
			   		 		</div>
			   		 		<div class="col-md-2" >
			    		 		 <label for="searchdivisionlist">Division</label>
								    <select class="form-control" id="searchdivisionlist" 
								    ng-model="search.division"
								    ng-options="u as u.value for u in searchdivisionlist" ng-change="getsubdivisionList([],null,'search')" 
								    
								    >
								      <option value="">------Select------</option>
								    </select>
			   		 		</div>
			   		 		<div class="col-md-2"  >
			    		 		 <label for="searchsubdivisionlist">Sub-Division</label>
								    <select class="form-control" id="searchsubdivisionlist" 
								    ng-model="search.subdivision"
								    ng-options="u as u.value for u in searchsubdivisionlist" ng-change="getomsectionList([],null,'search')" 
								    
								    >
								      <option value="">------Select------</option>
								    </select>
			   		 		</div>
			   		 		<div class="col-md-2" >
			    		 		 <label for="searchomsectionlist">O&M Section</label>
								    <select class="form-control" id="searchomsectionlist" 
								    ng-model="search.omsection"
								    ng-options="u as u.value for u in searchomsectionlist"  
								    >
								      <option value="">------Select------</option>
								    </select>
			   		 		</div>
			   		 		<div class="col-md-2" style="margin-top: 25px;">
			   		 			<button class="btn btn-sm btn-primary" ng-click="SearchUserDetails()">Search</button>
			   		 			<button class="btn btn-sm btn-secondary" ng-click="ResetUserDetails()">Reset</button>
			   		 		</div>
    						</div>	
    						<hr/>
    						
    						<div class="row">
    							<div class="col-md-2">
		    						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" 
		    							data-target=".user-managemaent-addedit-modal" ng-click="addeditUser(null,'add')">
		    							<i class="fa fa-user-plus"></i>&nbsp;Add User</button>
    							</div>
    						</div>	
    						<br/>
    						<div class="row">
    							<div class="col-md-12" style="width: 100%;overflow-x: scroll">
    								<table class="table table-hover modal_fixed_header_column thalign" style="width: 100%;">
									  <thead>
									    <tr>
									      <th></th>
									      <th>Location Name</th>
									      <th>User ID</th>
									      <th>User Role</th>
									      <th>Status</th>
									      <th>Effective From</th>
									      <th>Effective To</th>
									      <th>Created By</th>
									      <th>Created On</th>
									      <th>Updated By</th>
									      <th>Updated On</th>
									    </tr>
									  </thead>
									  <tbody>
									  	<tr ng-repeat="data in getuserdetailslist">
									  		<td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target=".user-managemaent-addedit-modal" 
									  			ng-click="addeditUser(data,'edit')"><i class="fa fa-edit"></i>&nbsp;Edit</button></td>
									  		<td>{{data.DUM_LOCATION_NAME}}</td>
									  		<td>{{data.DUM_USER_ID}}</td>
									  		<td>{{data.DUM_USER_ROLE}}</td>
									  		<td>{{data.DUM_STATUS}}</td>
									  		<td>{{data.DUM_EFFECTIVE_FROM}}</td>
									  		<td>{{data.DUM_EFFECTIVE_TO}}</td>
									  		<td>{{data.DUM_CREATED_BY}}</td>
									  		<td>{{data.DUM_CREATED_ON}}</td>
									  		<td>{{data.DUM_UPDATED_BY}}</td>
									  		<td>{{data.DUM_UPDATED_ON}}</td>
									  	</tr>
									  </tbody>
									</table>
    							</div>
    						</div>
    					</div>
    				</div>
			  </div>
			</div>
		</div>
	</div>
</div>
</form>

<!-- Large modal -->

<div class="modal fade user-managemaent-addedit-modal" id="user-managemaent-addedit-modal" tabindex="-1" role="dialog"
	style="z-index: 2026;" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modal_heading}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
    		 <div class="row">
    		 	<div class="col-md-3">
    		 		 <label for="usertype">User Type</label>
					    <select class="form-control" id="usertype" 
					    ng-model="usermanagement.usertype"
					    ng-options="u as u.value for u in usertypelist" ng-change="setusertype()">
					      <option value="">------Select------</option>
					    </select>
    		 		</div>
    		 </div>
    		 <div class="row mt-3" ng-show="usertypeselected">
    		 	<div class="col-md-3" ng-show="zoneuser">
    		 		 <label for="zonelist">Zone</label>
					    <select class="form-control" id="zonelist" 
					    ng-model="usermanagement.zone"
					    ng-options="u as u.value for u in zonelist" ng-change="getcircleList([],null,'modal')" 
					    
					    >
					      <option value="">------Select------</option>
					    </select>
   		 		</div>
   		 		<div class="col-md-3" ng-show="zoneuser && circleuser ">
    		 		 <label for="circlelist">Circle</label>
					    <select class="form-control" id="circlelist" 
					    ng-model="usermanagement.circle"
					    ng-options="u as u.value for u in circlelist" ng-change="getdivisionList([],null,'modal')" 
					    
					    >
					      <option value="">------Select------</option>
					    </select>
   		 		</div>
   		 		<div class="col-md-3" ng-show="zoneuser && circleuser && divisionuser">
    		 		 <label for="divisionlist">Division</label>
					    <select class="form-control" id="divisionlist" 
					    ng-model="usermanagement.division"
					    ng-options="u as u.value for u in divisionlist" ng-change="getsubdivisionList([],null,'modal')" 
					    
					    >
					      <option value="">------Select------</option>
					    </select>
   		 		</div>
   		 		<div class="col-md-3" ng-show="zoneuser && circleuser && divisionuser && subdivisionuser" >
    		 		 <label for="subdivisionlist">Sub-Division</label>
					    <select class="form-control" id="subdivisionlist" 
					    ng-model="usermanagement.subdivision"
					    ng-options="u as u.value for u in subdivisionlist" ng-change="getomsectionList([],null,'modal')" 
					    
					    >
					      <option value="">------Select------</option>
					    </select>
   		 		</div>
   		 		<div class="col-md-3 mt-3" ng-show="zoneuser && circleuser && divisionuser && subdivisionuser && omsectionuser">
    		 		 <label for="omsectionlist">O&M Section</label>
					    <select class="form-control" id="omsectionlist" 
					    ng-model="usermanagement.omsection"
					    ng-options="u as u.value for u in omsectionlist"  
					    >
					      <option value="">------Select------</option>
					    </select>
   		 		</div>
    		 </div>
    		 <div class="row mt-3" ng-show="usertypeselected">
	    		 <div class="col-md-3" ng-show="action === 'edit'">
	    		 	<div class="form-check" style="margin-top: 20px;">
					    <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="usermanagement.chnagepassword" ng-click="setchnagepassword()">
					    <label class="form-check-label" for="exampleCheck1">Change Password</label>
					  </div>
	    		 </div>
	    		 	<div class="col-md-3">
    		 		<label for="omsectionlist">User Id<span style="color: red;" ng-show="action == 'add'">&nbsp;(Type here & press enter)</span></label>
    		 		<input class="form-control" type="text" ng-model="usermanagement.userid" autocomplete="off" ng-readonly="action == 'edit' || !newuseridexists" 
    		 			ng-enter="VerifyUserId()" >
    		 	</div>
    		 	<div class="col-md-3" ng-show="usermanagement.chnagepassword || action === 'add'">
    		 		<label for="omsectionlist">Password</label>
    		 		<input class="form-control" type="password" ng-model="usermanagement.password" autocomplete="off" ng-readonly="newuseridexists">
    		 	</div>
    		 	<div class="col-md-3" ng-show="usermanagement.chnagepassword || action === 'add'">
    		 		<label for="omsectionlist">Re-Type Password</label>
    		 		<input class="form-control" type="password" ng-model="usermanagement.retypepassword" autocomplete="off" ng-readonly="newuseridexists" >
    		 	</div>
    		 </div>
    		 <div class="row mt-3" ng-show="usertypeselected">
    		 	<div class="col-md-3">
    		 		<label for="username">Full Name</label>
					 <input class="form-control" type="text" ng-model="usermanagement.username" autocomplete="off" ng-readonly="newuseridexists">
    		 	</div>
    		 	<div class="col-md-3">
    		 		<label for="address">Address</label>
					 <input class="form-control" type="text" ng-model="usermanagement.address" autocomplete="off" ng-readonly="newuseridexists">
    		 	</div>
    		 	<div class="col-md-3">
    		 		<label for="mobilenumber">Mobile Number</label>
					 <input class="form-control" type="text" ng-model="usermanagement.mobilenumber" autocomplete="off" ng-readonly="newuseridexists">
    		 	</div>
    		 	<div class="col-md-3">
    		 		<label for="emailid">Email Id</label>
					 <input class="form-control" type="text" ng-model="usermanagement.emailid" autocomplete="off" ng-readonly="newuseridexists">
    		 	</div>
    		 </div>
    		  <div class="row mt-3" ng-show="usertypeselected">
    		  	<div class="col-md-3">
    		 		 <label for="userenabled">Enabled</label>
					    <select class="form-control" id="userenabled" 
					    ng-model="usermanagement.enabled"
					    ng-options="u as u.value for u in statuslist" ng-disabled="newuseridexists">
					      <option value="">------Select------</option>
					    </select>
    		 		</div>
    		  	<div class="col-md-3">
    		 		 <label for="userenabled">User Role</label>
					    <select class="form-control" id="userrole" 
					    ng-model="usermanagement.userrole"
					    ng-options="u as u.value for u in userrolelist" ng-disabled="newuseridexists">
					      <option value="">------Select------</option>
					    </select>
    		 		</div>
    		 		<div class="col-md-3" ng-show="usermanagement.userrole.key === 'SURVEYOR'">
    		 		 <label for="imeinumber">IMEI Number</label>
					   <input class="form-control" type="text" ng-model="usermanagement.imeinumber" autocomplete="off" ng-readonly="newuseridexists">
    		 		</div>
   		 		</div>
   		 		<div class="row mt-3" ng-show="usertypeselected">
   		 		<div class="form-inline form-compact col-md-3">
					<label for="effectivefrom" class="labelchange">Effective From</label>
					<div class=' form-inline input-group input-append date dsfromdate'
						data-provide="datepicker">
						<input type='text' class="form-control" id="effectivefrom"
							readonly="readonly" name="effectivefrom" ng-model="usermanagement.effectivefrom"
							ng-required="true"> <span
							class="input-group-addon datepicker"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div class="form-inline form-compact col-md-3" >
					<label for="effectiveto" class="labelchange">Effective To</label>
					<div class=' form-inline input-group input-append date dsfromdate'
						data-provide="datepicker">
						<input type='text' class="form-control" id="effectiveto"
							name="effectiveto" ng-model="usermanagement.effectiveto"
							ng-required="true"> <span
							class="input-group-addon datepicker"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
    		  </div>
    		   <div class="row mt-3" ng-show="usertypeselected">
    		  	<div class="col-md-1">
    		 		 <button type="button" class="btn btn-md btn-success btn-block" ng-click="SaveRecord()" ng-disabled="newuseridexists">Save</button>
    		 		 </div>
    		 <div class="col-md-1" ng-show="action == 'add'">		 
    		 		 <button type="button" class="btn btn-outline-secondary btn-block" ng-click="addeditUser(null,'add')">Reset</button>
    		 		</div>
    		  </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$('.dsfromdate').datetimepicker({
	format : 'dd/mm/yyyy',
	minView : 2,
	autoclose : 1,
	//startDate : new Date(new Date().setDate(new Date().getDate() - 15)),
	//endDate : new Date(),
	showClear: false
});
</script>